{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html>  
<head>
    {% block content %}
    <title>About</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'ppw/style.css' %}">
    <link rel="icon" href="{% static 'ppw/images/man-user.png' %}">
</head>
    
<body style="background-color: indianred">
</body>
    
<section>
    <div id="profile2">
        <img src="{% static 'ppw/images/P_20150524_130131.jpg' %}" alt="profile" width="18%">
    </div>
    
    <div class="aboutbox"><i>*here will be written the biography of Sendhy Nugroho...</i></div>
    
    <div class="contactbox"><b><br/><br/>sendhynugroho@gmail.com<br/><br/><br/>
        082261567446<br/><br/><br/>sendhynugroho</b></div>
</section>
{% endblock %}
    
</html>