<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'cv' %}">CV</a></li>
            <li><a href="{% url 'form' %}">Form</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>