{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html>    
<head>
    {% block content %}
    <title>CV</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'ppw/style.css' %}">
    <link rel="icon" href="{% static 'ppw/images/curriculum-vitae.png' %}"> 
</head>
    
<body style="background-color: aliceblue">
</body>

<section>
    <h1 id="name">Sendhy Nugroho</h1>
    
    <p id="motto"><i>Let it flow</i></p>
    
    <div class="titlebox" style="top:180px; left:30px;">PROFILE</div>
    
    <div class="titlebox" style="top:180px; left:600px;">EDUCATION</div>
    
    <div class="titlebox" style="top:420px; left:30px;">ORGANIZATION</div>
    
    <div class="titlebox" style="top:420px; left:600px;">EXPERIENCE</div>
    
    <div class="listbox" style="top:240px; left:30px">
        Tanggal lahir : 29-01-1999<br/>
        Tempat lahir : Jakarta<br/>
        Nomor HP : 082261567446<br/>
        Email : sendhynugroho@gmail.com<br/>
        Hobi : Main games dan futsal
    </div>
    
    <div class="listbox" style="top:240px; left:600px">
        SDN Pisangan Baru 01<br/>
        SMPN 7 Jakarta<br/>
        SMAN 31 Jakarta<br/>
        FASILKOM UI
    </div>
    
    <div class="listbox" style="top:480px; left:30px">
        ROHIS SMAN 31<br/>
        MPK SMAN 31<br/>
        FUKI FASILKOM UI
    </div>
    
    <div class="listbox" style="top:480px; left:600px">
        Perlap Rihlah SMAN 31<br/>
        Sie 3K 31 Cup<br/>
        Sekretaris Maulid SMAN 31<br/>
        Fasilkom Goes to School<br/>
        Penunjang PMB 2018<br/>
        Humas SIWAK-NG 2018
    </div>  
</section>
{% endblock %}

</html>