{% extends 'base.html' %}
<html>
{% load static %}
<head>
    {% block content %}
    <title>Guest Form</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'ppw/style.css' %}">
    <link rel="icon" href="{% static 'ppw/images/consent.png' %}">
    
    <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        }
    .container {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 12px;
    }
    </style>
</head>

<body style="background-color: indianred">
</body>
    
<section>
    <div class="container">  
        <form id="contact" action="" method="post">
            <h3>Guest Form</h3>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input type="date" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Subject" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}
</html>