{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% block content %}
    <title>Sendhy Nugroho</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'ppw/style.css' %}">
    <link rel="icon" href="{% static 'ppw/images/home.png' %}">
</head>
<body style="background-color: indianred; width: 100%">
</body>
    
<section>
    <div class="home">
        <img src="{% static 'ppw/images/window-1231891_960_720.jpg' %}" alt="home" width=100% height="270px">
        <div class="text-block">
            <h3>Sendhy Nugroho</h3>
        </div>
        <div class="profile">
        <img src="{% static 'ppw/images/P_20150524_130131.jpg' %}" alt="profile" width=13%>
    </div>
    </div>
    
    <div class="box1">
        <snap><b>EDUCATIONAL BACKGROUND</b><br/><br/></snap>
        <p>SDN Pisangan Baru 01<br/><br/>
        SMPN 7 Jakarta<br/><br/>
        SMAN 31 Jakarta<br/><br/>
        FASILKOM UI</p>
    </div>
    
    <div class="box2">
        <snap><b>ORGANIZATION EXPERIENCE</b><br/><br/></snap>
        <p>ROHIS SMAN 31<br/><br/>
        MPK SMAN 31<br/><br/>
        FUKI FASILKOM UI</p>
    </div>
</section>
{% endblock %}
    
</html>
