body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkblue;
}

.active {
    background-color: red;
}

.home {
    position: relative;
    font-family: Arial;
}

.text-block {
    font-size: 12px;
    text-align: center;
    width: 10%;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.profile {
    display: block;
    position: fixed;
    top:112px;
    left: 50px;
    
}

.box1 {
    font-size: 20px;
    position: absolute;
    background-color: lightgray;
    width: 35%;
    height: 240px;
    border: 5px solid blue;
    padding:10px;
    top:380px;
    left: 80px;
}

.box2 {
    font-size: 20px;
    position: absolute;
    background-color: lightgray;
    width: 35%;
    height: 240px;
    border: 5px solid blue;
    padding:10px;
    top:380px;
    right: 80px;
}

.active {
    background-color: red;
}

#profile2 {
    position: fixed;
    top:78px;
    left:57px;
}

.aboutbox {
    font-size: 100%;
    position: absolute;
    background-color: snow;
    width: 70%;
    height: 530px;
    border: 5px solid blue;
    padding:10px;
    top:80px;
    left:350px;
}

.contactbox {
    font-size: 120%;
    position: absolute;
    background-color: blue;
    width: 16%;
    height: 250px;
    border: 5px solid red;
    padding:10px;
    top:360px;
    left:50px;
}

#name {
    position: fixed;
    font-size: 200%;
    font-family: sans-serif;
    left:30px;
}

#motto {
    position: absolute;
    font-size: 180%;
    font-family:monospace;
    top:90px;
    left:30px;
}

.titlebox {
    color: white;
    font-size: 200%;
    font-family: monospace;
    position: absolute;
    background-color: dodgerblue;
    width: 20%;
    height: 35px;
    padding:10px;
}

.listbox {
    font-size: 150%;
    font-family: monospace;
    position: absolute;
    background-color: aliceblue;
    width: 40%;
    height: 165px;
    border: 5px solid aliceblue;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="date"],
#contact input[type="email"],
#contact input[type="text"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="date"],
#contact input[type="email"],
#contact input[type="text"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: blue;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: red;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
    .profile{
        top: 100px;
        width: 150%;
    }
    .box1{
        top: 400px;
        width: 35%;
        left: 40px;
    }
    .box2{
        top: 400px;
        width: 35%;
        right: 40px;
    }
    .contactbox{
        font-size: 90%;
        top : 78px;
        left: 200px;
        width: 50%;
        height: 160px;
    }
    .aboutbox{
        top: 300px;
        left: 50px;
        width: 85%;
        height: 450px;
    }
    .titlebox{
        width: 50%
    }
    .listbox{
        width: 55%
    }
    
}
    
@media only screen and (max-width:600px) {
  /* For mobile phones: */
    .profile{
        width: 200%;
        top: 10%;
        left: 37%;
    }
    .box1{
        font-size: 80%;
        width: 50%;
        height: 21%;
        top: 40%;
        left: 80px;
    }
    .box2{
        font-size: 80%;
        width: 50%;
        height: 21%;
        top: 70%;
        right: 80px;
    }
    .contactbox{
        text-align: center;
        width: 50%;
    }
    .aboutbox{
        text-align: center;
        width: 75%
    }
    .titlebox{
        width: 50%
    }
    .listbox{
        width: 60%
    }
}